@import 'utils/design';

.App {
	text-align: center;
	@include flex-col;

	@media ( width < 768px ) {
		width: 100vw;
	}

	@media ( width > 768px ) {
		width: 90vw;
	}

	@media ( width > 1280px ) {
		width: 80vw;
	}

	.page-main {
		width: 100%;

		.table-view, .table-input, .table-control {
			margin: 0 auto 1.25rem auto;
			width: 100%;
			box-shadow: 0 2px 4px 2px #EEE;
			border-radius: 0.5rem;
		}

		.table-input, .table-control {
			padding: 0.75rem 0.75rem;
		}

		.table-view {
			padding: 0.75rem 0.75rem !important;
		}
	}
}